*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: Roboto;
}

header{
    display:flex;
    justify-content: center;
    align-items: center;
    grid-area:header;
    background-color: #12203E;
    text-align: center;
    color:#fff;
}

menu{
    min-height: 90vh;
    grid-area: menu;
    background-color: #dcdcdc;
    display:flex;
    flex-direction: column;
    align-items: center;
    border-right: 0.5px solid #fff
}


footer{
    display:flex;
    grid-area: footer;
    background-color: #fff;
    text-align: center;
    align-items: end;
    justify-content: center;

}

ul{
    display:flex;
    flex-direction: column;
    align-items: start;
    list-style:none;
    
}
.hero-content{
    grid-area: hero-content;
    background-color: #dcdcdc;

}

.grid-container{
    height: 100vh;
    display:grid;
    grid-template-areas:
    "header header header header header"
    "menu hero-content hero-content hero-content hero-content"
    "menu hero-content hero-content hero-content hero-content"
    "menu hero-content hero-content hero-content hero-content"
    "menu hero-content hero-content hero-content hero-content"
    "footer footer footer footer footer";
    grid-template-columns:1fr 4fr;


}

.grilla-productos{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap:5px;
    padding:5px;
    grid-template-columns: repeat(auto-fit, minmax(286px, 1fr));
    justify-items: center;
    
}


.btn-comprar{
    background-color:#12203E;
    color:white;
    width:100%;
    
}
.card-producto{
    display:flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.card-img-top {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
}